<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [6]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [1]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2022-09-27 20:52:57--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2022-09-27 20:52:57 (23.1 MB/s) - ‘bank_market_cap_1.json’ saved [2815/2815]

--2022-09-27 20:52:58--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2022-09-27 20:52:58 (12.8 MB/s) - ‘bank_market_cap_2.json’ saved [1429/1429]

--2022-09-27 20:52:59--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv’

exchange_rates.csv  100%[===================>]     590  --.-KB/s    in 0.002s

2022-09-27 20:52:59 (269 KB/s) - ‘exchange_rates.csv’ saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [7]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [8]:
# Preview the bank market cap 1 file

jsonfile1 = pd.read_json("bank_market_cap_1.json")
jsonfile1.head(3)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331

In [32]:
# Get shape of jsonfile1
jsonfile1.shape

(70, 2)

In [9]:
# Preview the bank market cap 2 file

jsonfile2 = pd.read_json("bank_market_cap_2.json")
jsonfile2.head(3)

                               Name  Market Cap (US$ Billion)
35  Banco Bilbao Vizcaya Argentaria                    60.678
36                  Japan Post Bank                    60.525
37      The Bank of New York Mellon                    59.823

In [33]:
# Get shape of jsonfile1
jsonfile2.shape

(35, 2)

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [10]:
columns=["Name", "Market Cap (US$ Billion)"]

In [11]:
def extract():
    """Find json files, extract the files, and store data in pandas dataframe"""
    # Write your code here
    extracted_data = pd.DataFrame(columns = columns)

    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index = True)
    
    return extracted_data

In [12]:
# Preview extracted_data

preview_extracted_json = extract()
preview_extracted_json

                                        Name  Market Cap (US$ Billion)
0                             JPMorgan Chase                   390.934
1    Industrial and Commercial Bank of China                   345.214
2                            Bank of America                   325.331
3                                Wells Fargo                   308.013
4                    China Construction Bank                   257.399
..                                       ...                       ...
100                             Ping An Bank                    37.993
101                       Standard Chartered                    37.319
102                     United Overseas Bank                    35.128
103                                QNB Group                    33.560
104                              Bank Rakyat                    33.081

[105 rows x 2 columns]

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [13]:
# Test and preview csv file

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv"

dataframe = pd.read_csv(url, index_col = 0)
dataframe.head(10)

         Rates
AUD   1.297088
BGN   1.608653
BRL   5.409196
CAD   1.271426
CHF   0.886083
CNY   6.483139
CZK  21.510117
DKK   6.119757
EUR   0.822504
GBP   0.732398

In [14]:
# Write your code here

def read_csv(file_to_process):
    """Method to read csv file"""
    dataframe = pd.read_csv(file_to_process, index_col = 0)
    return dataframe

def extract_csv():
    """Method to extract csv file"""
    for csvfile in glob.glob("*.csv"):
        extracted_csv_data = pd.DataFrame(read_csv(csvfile))
        
    return extracted_csv_data

In [15]:
# Preview dataframe from csv file

preview_extracted_csv = extract_csv().head(10)
preview_extracted_csv

         Rates
AUD   1.297088
BGN   1.608653
BRL   5.409196
CAD   1.271426
CHF   0.886083
CNY   6.483139
CZK  21.510117
DKK   6.119757
EUR   0.822504
GBP   0.732398

In [16]:
# Get GBP rate and convert to float

exchange_rate = float(preview_extracted_csv.loc["GBP"])
exchange_rate

0.7323984208000001

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [17]:
def transform(data):
    """Convert Market Cap from USD to GBP"""
    
    # Convert USD to GBP and round to 3 decimal places
    data["Market Cap (US$ Billion)"] = round(data["Market Cap (US$ Billion)"] * exchange_rate, 3)
    
    # Rename Columns
    data.rename(columns = {"Name": "Name", "Market Cap (US$ Billion)": "Market Cap (GBP$ Billion)"}, inplace = True, errors = "raised")
    
    return data

In [18]:
# Preview transformed data

preview_transform = transform(preview_extracted_json)
preview_transform.head(5)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [19]:
# Assign a filename for csv
filename = "bank_market_cap_gbp.csv"

def load(filename, data):
    """Takes a dataframe and save it to csv file named, bank_market_cap_gbp.csv"""
    data.to_csv(filename, index = False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [20]:
# Assign a filename for log text
logfilename = "bmc_log.txt"

def log(message):
    """Method for logging function"""
    
    # Timestamp format
    timestamp = datetime.now().strftime("Date: %h %d, %Y - Time: %H:%M:%S")
    
    # Append log text
    with open(logfilename, "a") as txtfile:
        txtfile.write(f"{timestamp} --> {message}.\n")

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [21]:
# Write your code here
log("ETL Job Started")
log("Extract Phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [22]:
# Call the function here
extractedData = extract()

# Print the rows here
extractedData.head(5)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [23]:
# Write your code here
log("Extract Phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [24]:
# Write your code here
log("Transform Phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [25]:
# Call the function here
transformedData = transform(extractedData)

# Print the first 5 rows here
transformedData.head(5)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

Log your data <code>"Transform phase Ended"</code>

In [26]:
# Write your code here
log("Transform Phase Ended")

### Load

Log the following `"Load phase Started"`.

In [27]:
# Write your code here
log("Load Phase Started")

Call the load function

In [30]:
# Write your code here
load(filename, transformedData)

Log the following `"Load phase Ended"`.

In [31]:
# Write your code here
log("Load Phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).